header{
  display: flex;
  width: 80%;
    margin: auto;
}
.inputbutton{
  margin: 43px;
}
p{
  
  font-size: 13px;
  margin-bottom: 6px;

}
.ratemin{
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  font-size: 13px;
}
.rate1{
  display: flex;
}
input{
  height: 35px;
    width: 200px;
}
button{
  height: 41px;
    width: 93px;
}